body {
    font-family: Arial;
}

* {
    /* Hide all Outlines of focused Elements */
    outline: none;
}

#rgbLabel {
    display: inline-block;
}

input[type=button],
input[type=text] {
    margin: 10px 0px;
    height: 25px;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
}

#presets {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.presets {
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* :not(#rgba) {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
} */


.jQWCP-wWidget.jQWCP-block.color-block {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: none;
}

input[type=button]:active,
input[type=text]:active,
.presets:active {
    box-shadow: black 1px 1px 1px 1px;
}

/* Color Wheel */
.color-block {
    max-width: 340px;
    width: 100%;
    box-sizing: border-box;
}

#color-wheel-preview {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    background-clip: content-box;

    border: solid 1px black;
    border-radius: 5px;
}